<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.NewsMapper">

	<select id="selectnewsbytitle" parameterType="String" resultType="String">
		select n_text from news where n_name=#{n_name}
	</select>
</mapper>